* {
  box-sizing: border-box;
}
body {
  font-family: Arial;
  font-size: 17px;
  padding: 8px;
}
/*styles for the navigation*/
/*logo*/
navbar-brand.resize {
  float: left;
  max-height: 100px;
  padding: 6px 10px;
}


/* top box*/
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color:
 darkgoldenrod;
  color: 	#fff;
  padding: 1% 0;
  font-size: 1em;
  border: 0;

}

/*list words in nav m*/
.nav li {
  display: inline;
  float: center;
  display: block;
  text-decoration: none;
}

/*word*/
#navbar a {
  float: center;
  display: block;
  color: black;
  text-align: center;
  padding: 20px 40px;
  ;
  text-decoration: none;
  font-size: 30px;
}
/*cart link*/
.link{
  background-color: #b8860b;
}

.clsVertical{
  border-left: 4px solid black;
  height: 400px;
  float: left;
}

form.form-inline button{
  float: left;
  height: 25%;
width: 25%;
padding: 12px ;
background: black;
color: white;
font-size: 17px;
border: 1px solid black;
border-left: none;
cursor: pointer;

}
input[type=submit] {
  background-color: black;

}

input[type=search] {
  background-color: white;
}


/*cart.html*/




.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 480px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
@viewport {
  width: device-width ;
  zoom: 1.0 ;
}


/*FOOTER*/
footer {
  width: 100%;
  background-color: #B8860B;
  padding: 5%;
  color: #000000;
}

/*icon colors*/
.fa-facebook {
  color: white;

}

.fa-instagram {
  color: white;


}

/*Font Awesome*/
.fa {
  padding: 25px;
  font-size: 30px;
  color: #000000;
}

.fa:hover {
  color: #000000;
  text-decoration: none;
}
.carousel-item,
.carousel-inner,
.carousel-inner img {
  height: 100%;
  width: center;
}

.carousel-item {
  text-align: fit;
}
/*button price options*/
.Low{
background-color:#D4AF37;
}

.Medium{
background-color:#D4AF37;
}

.High{
background-color:#D4AF37;
}







/*css for store*/

.sidenav {
height: 100%;
width: 160px;
position: fixed;
z-index: 1;
top: 0;
left: 0;
background-color: #111;
overflow-x: hidden;
padding-top: 20px;
}

.sidenav a {
padding: 6px 8px 6px 16px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
}

.sidenav a:hover {
color: #f1f1f1;
}

.main {
margin-left: 160px; /* Same as the width of the sidenav */
font-size: 28px; /* Increased text to enable scrolling */
padding: 0px 10px;
}


/*this is for ipads*/
@media (max-width: 1025px) {
  .fa {
    font-size: 20px;
    padding: 10px;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*End of store page*/
